

.app-bar{
  background-color: #0F5298;
}

/* .slider{
  display: flex;
  justify-content: center;
} */

.flashCard {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  margin: auto;
  width:40%;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.flashCard-top {
  border-radius: 25px 25px 0 0;
  height: 40px;
  width: 100%;
  background-color: #0F5298;
  position: absolute;
  top: 0;
  left: 0;

}

.flashCard-middle {
  margin:auto;
  margin-top:25px;
}

.flashCard-bottom{
  text-align: center;
}

.flashCard-word{
  font-size: 40px;
  text-align: center;
  margin-top:90px;
}

.flashCard-definition{
  font-weight: bold;
  color:#0F5298;
}

.flashCard-p{
  color:#0F5298;
}
/* .flashCard-btn{
  position: absolute;
  right:    0;
  bottom:   0;
  margin:0 20px 20px 0;
  background-color: #0F5298;
  border-radius: 5px;
  color: #ffff;
  width:100px;
  height:30px;
  font-weight: bold;
}

.flashCard-btn:hover{
  background-color:#5294da;
} */