
.app-bar{
  background-color: #0F5298;
}

.slider{
  margin-top: 70px;
}

.flashCard {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  margin: auto;
  width:40%;
  height: 500px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.flashCard-top {
  border-radius: 25px 25px 0 0;
  height: 40px;
  width: 100%;
  background-color: #0F5298;
  position: absolute;
  top: 0;
  left: 0;

}

.flashCard-middle {
  margin:auto;
}

.flashCard-bottom{
  position: absolute;
  background-color:#0F5298;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 25px 25px;
}

.flashCard-bottom p{
  font-size: 16px;
  text-align: center;
  color: white;
}

.flashCard-word{
  font-size: 50px;
  text-align: center;
  margin-top:70px;
}

.flashCard-definition{
  font-weight: bold;
  color:#0F5298;
}

.flashCard-p{
  color:#0F5298;
}

.forward-icon {
  position: absolute;
  top: 50%;
  right: 360px;
  cursor: pointer;
  user-select: none;
}




.back-icon{
  position: absolute;
  top: 50%;
  left: 360px;
  cursor: pointer;
  user-select: none;
}

.create-flashcard-container{

    justify-content:space-between;
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    margin: auto;
    margin-top: 70px;
    width:50%;
    height: 570px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}



.create-flashcard-top-container{
  display:flex;
}

.create-flashcard-container h1{
  text-align: center;
}

.create-flashcard-container p{
  color:#0F5298;
}


.create-flashcard-button-container{
  margin:20px 0 20px 0;
  text-align: center;
}

