*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  fontFamily:Helvetica, Arial
}
.app-bar{
  background-color: #0F5298;
}


.signup-page{
  width:100%;
  height:100vh;
}

.form-container-signup{
    width:30%;
    height:430px;
    position: absolute;
    margin-top:140px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #FFFF;
    box-shadow: 0 2px 5px #ccc;
}

.form-container-login{
  width:30%;
  height:380px;
  position: absolute;
  margin-top:140px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #FFFF;
  box-shadow: 0 2px 5px #ccc;
}

.form{
  text-align: center;
  margin:auto;
  width:80%;
}

.signup-title{
  font-family: sans-serif;
  padding:48px 0 25px 0;
  font-size: 2.2rem;
  text-align: center;
}

.form-container-input{
  margin-bottom:8px;
}

.signup-btn{
  border: none;
  border-radius: 5px;
  background-color: #1DB954;
  color:#FFFF;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height:42px;
  width:100%;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.signup-btn:active{
  background-color: #77d598;
}

.login-title{
  font-family: sans-serif;
  padding:50px 0 25px 0;
  font-size: 2.2rem;
  text-align: center;
}

.login-btn{
  border: none;
  border-radius: 5px;
  background-color: #24a0ed;
  color:#FFFF;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height:42px;
  width:100%;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.login-btn:active{
  background-color: #91cff6;
}


.slider{
  margin-top: 70px;
}

.flashCard {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  margin: auto;
  width:40%;
  height: 500px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.flashCard-top {
  border-radius: 25px 25px 0 0;
  height: 42px;
  width: 100%;
  background-color: #0F5298;
  position: absolute;
  top: 0;
  left: 0;
}

.flashCard-middle {
  margin:auto;
}

.flashCard-bottom{
  padding: 14px;
  position: absolute;
  background-color:#0F5298;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 0 0 25px 25px;
}

.flashCard-bottom p{
  font-size: 16px;
  text-align: center;
  color: white;
}

.flashCard-word{
  font-size: 50px;
  text-align: center;
  margin-top:70px;
}

.flashCard-definition{
  margin:50px 0 10px 0;

}

.flashCard-span{
  font-weight: bold;
  color:#0F5298;
}

.flashCard-example{
  color:#0F5298;
}

.forward-icon {
  position: absolute;
  top: 43%;
  right: 360px;
  cursor: pointer;
  user-select: none;
}

.back-icon{
  position: absolute;
  top: 50%;
  left: 360px;
  cursor: pointer;
  user-select: none;
}

.create-flashcard-container{
    justify-content:space-between;
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    margin: auto;
    margin-top: 40px;
    width:50%;
    height: 660px;
    box-shadow: 0 2px 5px #ccc;
    text-align: left;
}

.create-flashcard-container h1{
  font-family: Helvetica, Arial;
  margin:50px 0 50px 0;
  text-align: center;
  font-size:2.2rem;
}

.create-flashcard-container p{
  color:#0F5298;
  font-size:1.2rem;
  margin:5px;
}
.create-flashcard-top-container{
  display:flex;
}

.create-flashcard-button-container{
  margin:20px 0 20px 0;
  text-align: center;
}

.part-of-speech{
  margin-left:10px;
}

.part-of-speech-dropdown{
  width:200px;
  height:55px;
  font-size:1rem;
}

.create-flashcard-btn{
  border: none;
  border-radius: 5px;
  background-color: #24a0ed;
  color:#FFFF;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height:42px;
  width:30%;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.create-flashcard-btn:active{
  background-color: #91cff6;
}


.study-top-container{
  width:40%;
  height:500px;
  border-radius:20px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #FFFF;
  box-shadow: 0 2px 5px #ccc;
  margin:100px auto;
}

.study-top-container p{
  margin-top:80px;
  font-size:2.5rem;
  font-weight:bold;
  text-align:center;
}

.generate-label{
  font-size:1.5rem;
}

.generate-input{
  width:20%;
  height:40px;
  font-size:1.2rem;
  margin-top:25px;
}

.generate-btn{
  width:150px;
  height:150px;
  border-radius:50%;
  font-size:24px;
  background-color: #24a0ed;
  font-weight: bold;
  color: #FFFF;
  border:none;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  margin-top:15px;
}

.generate-btn:active{
  background-color: #91cff6;
}

.study-exit-container{
  margin-top:100px;
  /* border: blue solid 2px; */
  text-align: center;
}

.study-exit-title{
  margin: 50px auto;
  font-size:2.5rem;
}

.study-exit-continue{
  display: inline-block;
  text-align:center;
  /* border: red solid 2px; */
  width:25%;
  height: 150px;
  margin-right:20px;
  box-shadow: 0 2px 5px #ccc;
}

.study-exit-continue p{
  margin:25px 0 20px 0;
  font-size:1.5rem;
}

.study-exit-continue-btn{
  border: none;
  border-radius: 5px;
  background-color: #24a0ed;
  color:#FFFF;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height:42px;
  width:80%;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.study-exit-quiz{
  display: inline-block;
  text-align:center;
  /* border: red solid 2px; */
  width:25%;
  height: 150px;
  box-shadow: 0 2px 5px #ccc;
}

.study-exit-quiz p{
  margin:25px 0 20px 0;
  font-size:1.5rem;
}

.study-exit-quiz-btn{
  border: none;
  border-radius: 5px;
  background-color: #24a0ed;
  color:#FFFF;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height:42px;
  width:80%;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.chart-container{
  margin:auto;
  display:flex;
  width:80%;
}

.pending-add-btn{
  border: none;
  border-radius: 5px;
  background-color: #24a0ed;
  color:#FFFF;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height:42px;
  width:30%;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
}

.pending-add-btn:active{
  background-color: #91cff6;
}

.no-flash-card{
  text-align:center;
}

.no-flash-card h1{
  margin-top:180px;
  font-size:3rem;
}

.no-flash-card p{
  margin-top:30px;
  font-size:1.5rem;
}
